
<br>
<center>
<%= image_tag "https://image.tmdb.org/t/p/w500/#{@movie.poster_path}" %>
<br>
<br>
<h1 class="blue"><%= @movie.title %></h1>
</center>

<div class="page-padding"

<p><strong class="blue">Overview</strong> <br><%= @movie.overview %></p>
<p><strong class="blue">Release Date</strong> <br><%= @movie.release_date %></p>
<p><strong class="blue">Rating</strong> <br><%= @movie.vote_average %> out of 10</p>
<p><strong></strong><%=  %></p>
<br>

<h1 class="blue">Recommend this movie to your friends</h1>

<%# Or should we have a link here instead? %>
<%# Benefits of link: only pass in one object from controller and keep things more RESTful %>
<%# Benefits of keeping it here: Smoother user experience, less views to manage %>
<%# Add friends search %>

<%= form_with url: "/recommendations", method: :post, local: true do |f| %>

    <p id="friend-id-<%= current_user['id'] %>">
      <%= f.check_box :recommended, {multiple: true }, current_user['id'], nil %>
      <%= label_tag("#{current_user['id']}", "#{current_user['name']} (#{current_user['email']})") %>
    </p>
  <% @users.each do |user| %>
    <% if user.id != current_user['id']%>
    <p id="friend-id-<%= user.id %>">
      <%= f.check_box :recommended, {multiple: true }, user.id, nil %>
      <%= label_tag("#{user.id}", "#{user.name} (#{user.email})") %>
    </p>
    <% end %>
  <% end %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :movie_title, value: @movie.title %>
  <%= f.hidden_field :media_type, value: "movie" %>
  <%= f.submit "Recommend" %>
<% end %>
</div>
