<br>
<br>
<center>
<h3 class="blue"><%= "#{@book.title}" %></h3>
<% if @book.subtitle %>
<h4 class="blue"><%= @book.subtitle %></h4>
<% end %>
</center>

<div class="page-padding"
<div class="bookDetails">
  <p> <strong class="blue">Author(s)</strong><br><%= @book.author.join(', ') %></p>
  <p> <strong class="blue">Published On</strong><br><%= @book.published_date %></p>
  <p> <strong class="blue">Description</strong><br><%= @book.description %></p>
  <p> <strong class="blue">Number of Pages</strong><br><%= @book.page_count %></p>
  <p> <strong class="blue">Average Rating</strong><br><%= @book.average_rating %>/5</p>
</div>
</div>
