<h1><%= "#{@book.title}" %></h1>
<% if @book.subtitle %>
  <h2><%= @book.subtitle %></h2>
<% end %>
<div class="bookDetails">
  <%= image_tag "#{@book.photo}"%>
  <p><strong>Author(s):</strong> <%= @book.author.join(', ') %></p>
  <p><strong>Published On:</strong> <%= @book.published_date %></p>
  <p><strong>Description:</strong> <%= sanitize @book.description %></p>
  <p><strong>Number of Pages:</strong> <%= @book.page_count %></p>
  <p><strong>Average Rating:</strong> <%= @book.average_rating %>/5</p>
</div>
