<br>
<br>
<center>
  <div class="bookCover">
    <%= image_tag "#{@book.photo}"%>
  </div>
  <br>
  <br>
  <h3 class="blue"><%= "#{@book.title}" %></h3>
  <% if @book.subtitle %>
  <h4 class="blue"><%= @book.subtitle %></h4>
  <% end %>
  </center>
  <div class="page-padding"
  <br>
  <p> <strong class="blue">Author(s)</strong><br><%= @book.author.join(', ') %></p>
  <p> <strong class="blue">Published On</strong><br><%= @book.published_date %></p>
  <p> <strong class="blue">Description</strong><br><%= sanitize @book.description %></p>
  <p> <strong class="blue">Number of Pages</strong><br><%= @book.page_count %></p>
  <p> <strong class="blue">Average Rating</strong><br><%= @book.average_rating %>/5</p>

<h1 class="blue">Recommend this book to your friends</h1>

<%= form_with url: "/recommendations", method: :post, local: true do |f| %>
    <p id="friend-id-<%= current_user['id'] %>">
      <%= f.check_box :recommended, {multiple: true }, current_user['id'], nil %>
      <%= label_tag("#{current_user['id']}", "#{current_user['name']} (#{current_user['email']})") %>
    </p>
  <% @users.each do |user| %>
    <% if user.id != current_user['id']%>
    <p id="friend-id-<%= user.id %>">
      <%= f.check_box :recommended, {multiple: true }, user.id, nil %>
      <%= label_tag("#{user.id}", "#{user.name} (#{user.email})") %>
    </p>
    <% end %>
  <% end %>
  <%= f.hidden_field :media_id, value: @book.id %>
  <%= f.hidden_field :title, value: @book.title %>
  <%= f.hidden_field :media_type, value: "book" %>
  <%= f.submit "Recommend" %>
<% end %>
</div>
