<!DOCTYPE html>
<html>
  <head>
    <title>ConsultancyTheListFe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/navbar' %>
  </head>

  <body>
    <% if !@user.nil? %>
        <%= button_to "Log Out", "/", method: :delete  %>
    <% end %>
    <center>
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </center>

    <%= yield %>
  </body>
</html>
